@import './base.css';

body{
    font-family: var(--mainFont);
    background-color: #eee;
}
.header{
    background-color: #fff;
    padding:20px 0;
}
.header .logo{
  display: flex;
  align-items: center;
  gap:5px;
  flex-wrap: wrap;
}
.header .logo img{
    width:35px;
}
.header .logo a{
  color:var(--mainColor);
}
.menu{
  display: none;
}
.nav ul{
    display: flex;
    gap:16px;
    flex-wrap: wrap;
}
.nav ul li a{
    color:#101928;
}
.active{
    font-weight: 900;
}
.auth{
    display: flex;
    align-items: center;
    gap:11px;
    flex-wrap: wrap;
}
.auth a{
  font-family: var(--subFont);
  border:2px solid var(--mainColor);
  padding:5.35px 24.18px;
  border-radius: 10px;
  font-weight: 700;
}
.auth .login{
  color:var(--mainColor);
}
.auth .register{
  color:#FFFFFF;
  background-color: var(--mainColor);
}
@media screen and (max-width:992px){
  .nav,
  .auth{
      display: none;
  }
  .menu{
    display: block;
  }
}
@media screen and (max-width:576px){
  .container{
    width:calc( 100% - 120px );
  }
  .header .logo img{
    width:20px;
  }
  .header .logo a{
    font-size:14px;
  }
}










