@import './base.css';

body{
    font-family: var(--mainFont);
    background-color: #eee;
}
.header{
    background-color: #fff;
    padding:20px 0;
}
.header .logo{
  display: flex;
  align-items: center;
  gap:5px;
  flex-wrap: wrap;
}
.header .logo img{
    width:35px;
}
.header .logo a{
  color:var(--mainColor);
}
.menu{
  display: none;
}
.navbar ul{
    display: flex;
    gap:16px;
    flex-wrap: wrap;
}
.navbar ul li a{
    color:#101928;
}
.active{
    font-weight: 900;
}
.auth{
    display: flex;
    align-items: center;
    gap:11px;
    flex-wrap: wrap;
}
.auth a{
  font-family: var(--subFont);
  border:2px solid var(--mainColor);
  padding:5.35px 24.18px;
  border-radius: 10px;
  font-weight: 700;
}
.auth .login{
  color:var(--mainColor);
}
.auth .register{
  color:#FFFFFF;
  background-color: var(--mainColor);
}
@media screen and (max-width:992px){
  .navbar,
  .auth{
      display: none;
  }
  .menu{
    display: block;
  }
}
@media screen and (max-width:576px){
  .container{
    width:calc( 100% - 120px );
  }
  .header .logo img{
    width:20px;
  }
  .header .logo a{
    font-size:14px;
  }
}
footer{
  background-color: #393E46;
  color:#F4F4F4;
  padding: 50px 0;
}
footer a{
  color:#fff;
}
.footer-start{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap:20px;
  flex-wrap: wrap;
}
.footer-start .logo{
  display: flex;
  align-items: center;
  gap:5px;
  flex-wrap: wrap;
}
.footer-start .logo img{
    width:35px;
}
.footer-start .logo a{
  color:var(--mainColor);
}
.footer-start .icons img{
  border: 1px solid #fff;
  padding: 10px;
  width: 20px;
  height: 20px;
}
.footer-end{
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-end nav{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-end .footer-item{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (max-width:1200px){
  .footer .row{
    gap: 10px;
  }
  .footer-start{
    width: 100%;
  }
  .footer-end{
    width: 100%;
  }
}
@media screen and (max-width:768px){
  .footer-item{
    width: 50%;
    margin-bottom: 21px;
  }
}
@media screen and (max-width:400px){
  .footer-item{
    width: 100%;
   
  }
}










